<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131563851716-2og4oua7smmtbvnviqja3je1q5o6g5bt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131563851716-2og4oua7smmtbvnviqja3je1q5o6g5bt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>131563851716-63e80lu1nu5dnbq2r3jg7urcm7d4dpi1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJUtZx6bVtns9JBoZTTdEp0nWlysO1x9o</string>
	<key>GCM_SENDER_ID</key>
	<string>131563851716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timely.booking</string>
	<key>PROJECT_ID</key>
	<string>booking-cd20f</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-cd20f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131563851716:ios:38ecec961d52f373e8de91</string>
</dict>
</plist>